doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title="Stocks"
        link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="/public/main.css")
        script(src="https://code.jquery.com/jquery-3.2.1.min.js"
               integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
               crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.min.js")
        script(src="/public/main.js")
        block head
    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#collapse")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="/") Stocks
        .container-fluid
            if successMessages
                each m in successMessages
                    div.alert.alert-success.alert-dismissible
                        button.close(data-dismiss="alert") #[span(aria-hidden=true) &times]
                        p= m
            if errorMessages
                each m in errorMessages
                    div.alert.alert-danger.alert-dismissible
                        button.close(data-dismiss="alert") #[span(aria-hidden=true) &times]
                        p= m
            
            .row
                .col-md-10.offset-md-1
                    block content
        footer.navbar-inverse.navbar-fixed-bottom.navbar.text-center
            p Stock chart made by Cole Trammer with Alpha Vantage Api<br>
            a(target="_blank" href="https://github.com/ColeTrammer/stock_chart") GitHub
